*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 100vh;
}
.nav-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 40px;
}
.nav-top a {
    color: white;
    text-decoration: none;
}
.video{
    position: fixed;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
    }
}

.side-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    z-index: 2;
    height: 100vh;
}

.side-nav a{
    text-decoration: none;
    padding: 15px;
    color: white;
    border-radius: 0 10px 10px 0;
    width: 100px;
    transform: translateX(-90px);
    transition: transform 1s;
    text-align: center;
}
.side-nav a:nth-child(1){
    background-color: rgba(247, 0, 255, 0.6);
}
.side-nav a:nth-child(2){
    background-color: rgba(255, 102, 0, 0.6);
}
.side-nav a:nth-child(3){
    background-color: rgba(212, 0, 255, 0.6);
}
.side-nav a:nth-child(4){
    background-color: rgba(0, 183, 255, 0.6);
}
.side-nav a:hover{
    transform: translateX(0px);
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.4vw;

}
.logo{
    margin: 50px;
    padding: 20px;
    flex: 30%;
    max-width: 30%;
    color: #222;
    border-radius: 10px;
    background-color: white;
}
.slider{
    margin: 50px;
    flex: 50%;
    max-width: 50%;
    position: relative;
}
.slider-text{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    width: 100%;
    bottom: 15px;
}

@media (max-width: 1000px){
    .row{
        flex-wrap: nowrap;
    }
    .slider{
        flex: 65%;
        max-width: 65%;
        margin: 10px;
    }
    .logo{
        margin: 10px;
        flex: 40%;
        max-width: 40%;
    }
    table{
        font-size: 0.7em;
    }
    td{
        padding: 0;
    }
}

@media (max-width: 700px){
    .row{
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 1.8vw;
        align-items: flex-start;
    }
    .slider{
        flex: 80%;
        max-width: 80%;
        margin: 0;
    }
    .logo{
        flex: 50%;
        max-width: 50%;
        margin: 0;
    }
    .features {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 0.6em;
    }
    .features .feature{
        flex: 90%;
        max-width: 90%;
    }
}
#arc1, #arc2, #arc3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

.article1{
    background-image: url('bg4.jpg');
}
.article2{
    background-image: url('bg2.jpg');
}
.article3{
    background-image: url('bg1.jpg');
}

.features{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.features .feature{
    flex: 30%;
    max-width: 30%;
    margin: 5px;
    border-radius: 10px;
    position: relative;
    align-self: center;
}
.features .feature .feature-text{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 8px;
    color: white;
    font-size: 0.8em;
    bottom: 0;
}

table {
    border-collapse: collapse;
    width: 70%;
    color: #ddd;
    opacity: 0.7;
}  
table, tr {  
    border: 1px solid #ddd;
    text-align: left;
  }

td {
    padding: 10px;
    text-align: left;
  }
td a{
    text-decoration: none;
    color: dodgerblue;
}
tr:nth-child(odd){
    background-color: #222
}
tr:nth-child(even){
    background-color: #444; 
}